#!/bin/sh

gitleaksEnabled=$(git config --bool hooks.gitleaks)

cmd="docker run --rm --name=gitleaks -v `pwd`/:/code/ zricethezav/gitleaks -v --repo-path=/code/ --uncommitted --pretty"

if [ "$gitleaksEnabled" != "false" ]; then
    $cmd
    if [ $? -eq 1 ]; then
cat <<\EOF
Error: gitleaks has detected sensitive information in your changes.
If you know what you are doing you can disable this check using:

    git config hooks.gitleaks false

EOF
exit 1
    fi
else
  git config hooks.gitleaks true
cat <<\EOF
Warning: git commit was run without gitleaks enabled.  It has been re-enabled to run when git commit is run.
EOF
exit 0
fi
